.parallelogram {
    --p: 50px;
    height: 110px;
    aspect-ratio: 3/2;
    clip-path: polygon(0 0, 100% 0, calc(100% - var(--p)) 100%, 0 100%);
}

.parallelogram_footer {
    --p: 30px;
    height: 40px;
    width: 93%;
    clip-path: polygon(0 0, 100% 0, calc(100% - var(--p)) 100%, 0 100%);
}

@media print {
    @page {
        size: A5 portrait;
        margin: 0;
    }

    html,
    body {
        margin: 0 !important;
        padding: 0 !important;
    }

    .print-wrapper {
        width: 148mm !important;
        height: 210mm !important;
        margin: 0 !important;
        padding: 0 !important;
        box-shadow: none !important;
    }

    .print-wrapper {
        margin: 0 !important;
        padding: 0 !important;
    }

    .no-print {
        display: none !important;
    }
}