@media print {
    @page {
        size: A5 landscape;
        margin: 0 !important;
    }

    html,
    body {
        margin: 0 !important;
        padding: 0 !important;
    }

    .print-wrapper {
        width: 210mm !important;
        height: 148mm !important;
        margin: 0 !important;
        padding: 0 !important;
        box-shadow: none !important;
    }

    .print-wrapper {
        margin: 0 !important;
        padding: 0 !important;
    }

    .no-print {
        display: none !important;
    }
}